spring:
  application:
    name: viago-notification-service
  profiles:
    active: dev

server:
  port: ${SERVER_PORT}

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
