spring :
  datasource:
    url : jdbc:mysql://localhost:3306/${DB_NAME}
    username : ${DB_USERNAME}
    password : ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa :
    hibernate :
      ddl-auto : update

  jwt:
    secret: ${JWT_SECRET}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:your-google-client-id}
            client-secret: ${GOOGLE_CLIENT_SECRET:your-google-client-secret}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v2/userinfo
            user-name-attribute: email