name: Deploy Auth Service

on:
  push:
    branches: [deploy]
    paths:
      - "viago-auth/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build Auth Service
        run: |
          cd viago-auth
          mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/viago-auth:latest ./viago-auth
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/viago-auth:latest

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |

            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/viago-auth:latest
            docker stop viago-auth || true
            docker rm viago-auth || true


            docker run -d \
              --name viago-auth \
              --network viago-net \
              --network-alias viago-auth \
              --env-file .env \
              -p 8080:8080 \
              ${{ secrets.DOCKERHUB_USERNAME }}/viago-auth:latest
