name: Deploy Trip Service

on:
  push:
    branches: [deploy]
    paths:
      - "viago-trip-service/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build Trip Service
        run: |
          cd viago-trip-service
          mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/viago-trip-service:latest ./viago-trip-service
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/viago-trip-service:latest

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/viago-trip-service:latest
            docker stop viago-trip-service || true
            docker rm viago-trip-service || true


            docker run -d \
              --name viago-trip-service \
              --network viago-net \
              -p 8084:8084 \
              ${{ secrets.DOCKERHUB_USERNAME }}/viago-trip-service:latest
